html{
    margin: auto;
    font-family: arial, sans-serif;
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #1a1f2b;
  height:100%;
}

main {
  flex: 1 0 auto;
}

.darkest-background{
  background-color: #000000;
}

/* Logo */
.nav-wrapper .brand-logo img {
    height: 64px;
}

.row{
  margin-bottom: 0px;
}

.card{
  background-color: #30395e;
}

.card .card-content .card-title {
  margin-bottom: 20px;
}

.card .card-action.center{
    position: relative;
    background-color: inherit;
    border: none;
    padding: 0px 24px;
    text-align: center;
    display: inline-block;
    width: 50%;
    color: #85a5cc;
}

.card .card-action.left{
    position: relative;
    background-color: inherit;
    border: none;
    padding: 0px 24px;
    text-align: left;
    display: inline-block;
    width: 50%;
    color: #85a5cc;
}
.card .card-action.right{
    position: relative;
    background-color: inherit;
    border: none;
    padding: 0px 24px;
    text-align: right;
    display: inline-block;
    width: 50%;
    color: #85a5cc;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color:  #85a5cc;
}

.form_button {
  padding: 16px 0 0 0 !important;
}

/* --------- login page --------- */
.login {
  display: block;
  text-align: center;
}

.login input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 20px;
    font-size: 14px;
    font-family: arial;
    padding: 0 20px 0 50px;
    outline: none;
}

.login.classify {
    padding-bottom: 50px;
}

.login input#username {
    background: rgba(255,255,255,0.3) url('../images/ic_person_white_24dp_2x_dk.png') 10px center no-repeat;
    background-size: 24px 24px;
    color: #30395e;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.2);
}

.login input#username:focus {
    background: rgba(255,255,255,0.4) url('../images/ic_person_white_24dp_2x.png') 10px center no-repeat;
    background-size: 24px 24px;
    border: 1px solid rgba(255,255,255,0.2);
}

.login input::placeholder {
  color: rgba(255,255,255,0.8);
  color: #30395e;
}

.login input#password {
    background: rgba(255,255,255,0.3) url('../images/ic_lock_white_24dp_2x_bk.png') 10px center no-repeat;
    background-size: 24px 24px;
    color: #30395e;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.2);
}

.login input#password:focus {
    background: rgba(255,255,255,0.4) url('../images/ic_lock_white_24dp_2x.png') 10px center no-repeat;
    background-size: 24px 24px;
    border: 1px solid rgba(255,255,255,0.2);
}

.login input:active, .login input:focus {
    border: 1px solid #d0e4f2;
}

.login button, .forms button {
    width: 100%;
    height: 36px;
    background: #4a6491;
    background-color: rgba(74,100,154,0.6);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(74,100,154,0.2);
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    font-family: arial;
    outline: none;
    cursor: pointer;
    opacity: 60%;
}

.login button:hover, .forms button:hover {
    background: #4a6491;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
  padding: 0 20px 0 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Error messages on login screen */
.error {
  color: #ffffff;
  text-align: center;
}
.error p {
  margin-left: 21px;
  margin-bottom: 10px !important;
  font-size: 14px;
}
.error p:before {
    content: url('../images/error_icon.png');
    position: absolute;
    margin-left: -21px;
    margin-top: 3px;
    opacity: 0.6;
}

/* card button formatting */
.card .card-action button {
    background: none;
    text-transform: uppercase;
    color: #85a5cc;
    border: none;
}

.date-input {
  padding: 0 !important;
  margin-bottom: 5px !important;
  box-sizing: border-box;
  text-align: center;
}

select {
    margin: 0 0 20px 0;
    border: 1px solid #111;
    background: transparent;
    /*width: 140px;*/
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid red
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/ic_arrows_white_24dp_2x.png') 96% / 15% no-repeat #eee;
    background-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.2);
    display: inline;
}

.large-select {
  background: url('../images/ic_arrows_white_24dp_2x.png') 96% / 5% no-repeat #eee;
  background-color: rgba(255,255,255,0.3);
}

select.metric, select.large-select {
    color: #191e2b;
}

select:focus, select:active {
    background-color: #6e748e;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#metric_selector, #campaign_selector {
  height: 100%;
}

#graphs canvas {
  background-color: #30395e;
  margin-right:20px;
  margin-top: 10px;
  max-width: 100%;
}

#investigation_info {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: smaller;
}
