{% extends "layout.html" %}
{% block title %}
Welcome
{% endblock %}

{% block links %}
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card  valign">
      <div class="card-content white-text center">
        <span class="card-title">Hang On...</span>
        <p>Please be patient while we fetch the data to help you troubleshoot this issue.</p>
        <br>
        <div class="preloader-wrapper big active"> <!--change to inactive when query finishes loading with JS-->
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="left" href="#">No</a>
          <a class="right" href="#">Yes</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
