<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Sherlock - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/reboot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sherlock.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sherlock.js') }}"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body {% block onload_events %}{% endblock %}>
    <nav>
      <div class="nav-wrapper darkest-background">
        <a href="{% block sherlock_link %}#{% endblock %}" class="brand-logo"> <!--TODO change this to go to the Confluence page for Sherlock"-->
          <img src="{{ url_for('static', filename='images/sherlock_logo_white.png') }}" alt="Sherlock">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% block links %}
            <li><a href="https://yourcompany.slack.com/messages/<channel_id>">Feedback</a></li>
          {% endblock %}
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <main class="valign-wrapper">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="page-footer darkest-background">
      <div class="footer center">
        <div class="container">
          <img src="{{ url_for('static', filename='images/scope_logo_w.png') }}" alt="SCOPE">
        </div>
      </div>
    </footer>
  </body>
</html>
