{% extends "layout.html" %}
{% block title %}
Parameter Entry
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/datepicker.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/datepicker.min.js') }}"></script>
{% endblock %}

{% block links %}
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card valign">
      <div class="card-content white-text center">
        <span id="card_title" class="card-title">What do you want to investigate?</span>
        <p id="card_description">Tell Sherlock what you want to look into, so he can gather clues.</p>
        <br>
        <div class="forms">
          <form name="parameters" action="{{ url_for('investigate') }}" method="POST">
            <div class="row">
              <div class="col s2 offset-s5">
                <select id="metric_selector" class="metric" name="metric" required="">
                  <option value="" disabled selected>Metric</option>
                  <option value="cos">COS</option>
                  <option value="cr">CR</option>
                  <option value="ctr">CTR</option>
                  <option value="rext">RexT</option>
                  <option value="spend">Spend</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col s2 offset-s2">
                {% if partner_id %}
                  <input id="partner_id" name="partner_id" class="date-input no-spinner" type="number" required="" value="{{ partner_id }}" placeholder="#" oninput="conditionalButtons('client_lookup_button', 'client_id', 'partner_lookup_button', 'partner_id')">
                {% else %}
                  <input id="partner_id" name="partner_id" class="date-input no-spinner" type="number" required="" placeholder="#" oninput="conditionalButtons('client_lookup_button', 'client_id', 'partner_lookup_button', 'partner_id')">
                {% endif %}
                <label for="partner_id">Partner ID</label>
              </div>
              <div class="col s2">
                {% if client_id %}
                  <input id="client_id" name="client_id" class="date-input no-spinner" type="number" required="" value="{{ client_id }}" placeholder="#" oninput="conditionalButtons('partner_lookup_button', 'partner_id', 'client_lookup_button', 'client_id')">
                {% else %}
                  <input id="client_id" name="client_id" class="date-input no-spinner" type="number" required="" placeholder="#" oninput="conditionalButtons('partner_lookup_button', 'partner_id', 'client_lookup_button', 'client_id')">
                {% endif %}
                <label for="client_id">Client ID</label>
              </div>
              <div class="col s2">
                {% if start_date %}
                  <input id="start_date" name="start_date" class="date-input" type="text" required value="{{ start_date }}" placeholder="YYYY-MM-DD">
                {% else %}
                  <input id="start_date" name="start_date" class="date-input" type="text" required="" placeholder="YYYY-MM-DD">
                {% endif %}
                <label for="start_date">Start Date</label>
              </div>
              <div class="col s2">
                {% if end_date %}
                  <input id="end_date" name="end_date" class="date-input" type="text" required="" value="{{ end_date }}" placeholder="YYYY-MM-DD">
                {% else %}
                  <input id="end_date" name="end_date" class="date-input" type="text" required="" placeholder="YYYY-MM-DD">
                {% endif %}
                <label for="end_date">End Date</label>
              </div>
            </div>
            <br>
            <div id="loading_indicator" class="preloader-wrapper big active" style="display: none;">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s6 offset-s3">
                <select id="partner_selector" class="large-select" style="display: none;" onchange="setValue('partner_id', 'partner_selector')" name="partner_selector">
                  <option value="" disabled selected>Partner</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col s6 offset-s3">
                <select id="client_selector" class="large-select" style="display: none;" onchange="setValue('client_id', 'client_selector')" name="client_selector">
                  <option value="" disabled selected>Client</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col s6 offset-s3">
                <select id="campaign_selector" class="large-select" style="display: none;" name="campaign_selector" required="">
                  <option value="" disabled selected>Campaign</option>
                </select>
              </div>
            </div>
            <div class="card-action form_button">
              <button id="partner_lookup_button" type="button" onclick="performLookup('client_id', 'partner_selector', 'partner')" style="display: none;">Find partner ID</button>
              <button id="client_lookup_button" type="button" onclick="performLookup('partner_id', 'client_selector', 'client')" style="display: none;">Find client ID</button>
              <button id="campaign_lookup_button" type="button" onclick="performLookup('client_id', 'campaign_selector', 'campaign')" style="display: none;">Find campaign ID</button>
              <button id="submit_parameters" style="display: none;">Start Investigation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
// select the appropriate option if provided in URL
let metricOptions = document.getElementById('metric_selector').options;
let providedMetric = '{{metric.lower()}}';
if (providedMetric !== 'undefined') {
  for (var i = 0; i < metricOptions.length; i ++) {
    if (providedMetric == metricOptions[i].value) {
      document.getElementById('metric_selector').value = providedMetric;
      break;
    }
  }
}

// handle buttons when input is provided in the URL query string
initializeButtons({partnerID : {{partner_id}}, clientID : {{client_id}}});

// handle buttons when the input is still on the page due to a refresh
initializeButtons({partnerID : document.getElementById("partner_id").value, clientID : document.getElementById("client_id").value});

var today = new Date();
var yesterday = new Date(today.setDate(today.getDate() - 1));
var min_date_limit = new Date(today.setDate(today.getDate() - 90));
var end_date_picker;
var start_date_picker = datepicker('#start_date',
  {
    minDate: min_date_limit, maxDate: yesterday, startDate: yesterday,
    formatter: function(element, date) {
      element.value = moment(date).format('YYYY-MM-DD');
    },
    onSelect: function(instance) {
      if (typeof end_date_picker != "undefined"){
        end_date_picker.remove();
      }
      end_date_picker = datepicker('#end_date',
        {
          minDate: instance.dateSelected, maxDate: yesterday,
          startDate: yesterday, dateSelected: yesterday,
          formatter: function(element, date) {
            element.value = moment(date).format('YYYY-MM-DD');
          }
        }
      );
    }
  }
);
</script>
{% endblock %}
